@page
@model Proyectos.App.Presentacion.PlanesModel
@{

    var nombre = "PLANES";
    ViewData["Title"] = " Planes";
}

<div class="text-center">
    <h1 class="display-4">@nombre</h1>
    <h2>OFRECEMOS LOS MEJORES PLANES</h2>
</div>



<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Basico</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$49.900<small class="text-muted fw-light">/mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Precio más bajo del mercado</li>
              <li>Cuota de inscripción gratis</li>
              <li>Zona cardio</li>
              <li>Musculación</li>
              <li>Cinema cardio</li>
              <li>100 máquinas de musculación y de cardio</li>
              <li>Zona funcional</li>
              <li>App Gym: Rutinas de entrenamiento y más</li>
              <li>Asegura tu entrenamiento (Plan de Débito Mensual)</li>
              <li>Ten en cuenta: En tu primer pago se realizará un cobro de dos meses por anticipado.</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-dark">Escoger Plan</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">VIP</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$59.900<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
               <li>Acceso con un amigo gratis los días: viernes, sábado y domingo</li>
              <li>Acceso a la zona VIP</li>
              <li>Acceso a los otros gimnasios de la red</li>
              <li>Zona cardio</li>
              <li>Musculación</li>
              <li>Cinema cardio</li>
              <li>100 máquinas de musculación y de cardio</li>
              <li>Zona funcional</li>
              <li>App Gym: Rutinas de entrenamiento y más</li>
              <li>Asegura tu entrenamiento (Plan de Débito Mensual)</li>
              <li>Ten en cuenta: En tu primer pago se realizará un cobro de dos meses por anticipado.</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-danger">Escoger Plan</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">VIP Anual</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$599.000<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Acceso con un amigo gratis los días: viernes, sábado y domingo</li>
              <li>12 meses de entrenamiento en sede (El mes sale a: $49.916)</li>
              <li>Ahorra $ 119.800 al año.</li>
              <li>Acceso a la zona VIP</li>
              <li>Acceso a los otros gimnasios de la red</li>
              <li>Zona cardio</li>
              <li>Musculación</li>
              <li>Cinema cardio</li>
              <li>100 máquinas de musculación y de cardio</li>
              <li>Zona funcional</li>
              <li>App Gym: Rutinas de entrenamiento y más</li>
              <li>Asegura tu entrenamiento (Plan de Débito Mensual)</li>
              <li>Ten en cuenta: En tu primer pago se realizará un cobro de dos meses por anticipado.</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-success">Escoger Plan</button>
          </div>
        </div>
      </div>
    </div>

    